mat-card
  margin-bottom : 1em    
  position : relative
  padding-bottom : 1em

mat-card-actions
  text-align : right 

.card  
  min-height : 215px
  // max-height : 300px !important
  background-color: #f8fdff
  border: 1px solid #e2e2e2

.button  
  border : none
  padding : .5em
  padding-left : 1em
  padding-right : 1em 
  border-radius : .5em  
  bottom : 0
  cursor : pointer
  text-decoration : none  
  color: black

  &:hover
    background-color : #e2f9ff
    border : none
    padding : .5em
    padding-left : 1em
    padding-right : 1em 
    border-radius : .5em  
    bottom : 0
    cursor : pointer
    color: #24d3ff

.card-header-image 
  background-image : url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size : cover


.box.cdk-drag-animating
  transition : transform 250ms cubic-bezier(0, 0, 0.2, 1)

.mat-chip.mat-standard-chip  
  font-weight : normal
  font-size : .8em

.mat-standard-chip
  min-height : 5px
  background-color : #e7f6fc

.chip .cdk-drop-list-dragging
  transition : transform 250ms cubic-bezier(0, 0, 0.2, 1)  

.error
  color: red
  width: 60%
  text-align : center
  margin : auto

.resultSearch  
  margin: auto
  width: 95% 
  align-items : center

.mat-card:not([class*=mat-elevation-z0])
  box-shadow : none

.mat-card:not([class*=mat-elevation-z0]):hover
  box-shadow : none!important

.dot 
  height: 40px
  width: 40px
  background-color : #e7f6fc
  border-radius : 50%
  display: inline-block

@keyframes load 
    from 
      left: -12px    
    to
      left: 11%   

.rectangle
  width : 95%
  background-color : #e7f6fc
  height: 10px
  margin-bottom : 5px

.rectangle::before
  content: ''
  display: block
  position: relative
  left: 0px
  top: 0
  height: 10px
  width: 95%
  background: linear-gradient(to right, transparent 0%, #c6efff 50%, transparent 100%)
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite




