<div style="margin: auto; width: 95%; align-items: center">
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="25%" fxFlex.xs="95%" fxFlex.sm="30%" *ngFor="let item of webItems">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
              <mat-chip class="example-box" cdkDrag *ngFor="let tag of item.tags">
                {{tag}}
              </mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="text-overflow: ellipsis;">          
            {{item.description}}          
        </mat-card-content>
        <p>
          {{item.url}}
        </p>
        <mat-card-actions>
          <button mat-button>Visit</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
